<style>
    .userPanel {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #f1f1f1;
        color: #333;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 100%;
        right: 0;
    }

        .dropdown-content p {
            color: #333;
            padding: 10px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .dropdown-content p:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .itemsDiv {
        /*margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;*/
        font-size: 13px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .cartListDiv {
        display: none;
        width: 200px;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transition: left 0.3s;
        color: wheat;
    }

    .itemDiv {
       /* width: 150px;
        text-align: center;
        padding: 20px;
        background-color: #081b29;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        border-radius: 30px 5px;
        border-color: black;
        border-style: solid;
        left: 50px;
        color: white;*/
        font-size: 13px;
        font-family: source_sans_proregular !important;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        box-shadow: none;
        cursor: pointer;
        border-radius: 8px;
        transition: box-shadow 0.2s linear;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
    }

    .itemBox{
        font-family: source_sans_proregular;
        text-align: left;
        position: relative;
        line-height: normal;
        font-size: 14px;
        color: white;
        margin: 2px 0;
    }
    .itemImage{
        font-size: 13px;
        font-family: source_sans_proregular;
        color: #1b1b1b;
        margin: 0;
        padding: 0;
        display: block;
        height: 100%;
        position: relative;
    }
    .itemPrice{
        font-family: source_sans_proregular;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        display: block;
        align-self: center;
        margin-right: 5px;
        line-height: 20px;
        font-size: 16px;
        font-weight: 700;
        color: #BB0000;
    }
    .buyoutButtons {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 10px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
    }

    :root {
        --primary-bg-color: #ffffff;
        --primary-text-color: #333333;
        --secondary-bg-color: #f0f0f0;
    }


    body.dark-mode {
        --primary-bg-color: #1a1a1a;
        --primary-text-color: #ffffff;
        --secondary-bg-color: #333333;
    }


    body {
        background-color: var(--primary-bg-color);
        color: var(--primary-text-color);
    }

    .cartitemImage {
        width: 50px;
        height: 50px;
    }

    .searchBarDiv{
        font-size: 13px;
        font-family: source_sans_proregular !important;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .searchBar{
        margin: 0;
        font-family: source_sans_proregular !important;
        -webkit-box-flex: 1;
        flex: 1;
        font-size: 14px;
        color: #333;
        background-color: #f3f3f3;
        border: 2px solid rgba(0,0,0,0);
        border-radius: 6px;
        padding: 10px 40px 10px 15px;
        box-sizing: border-box;
        outline: none;
        transition: all ease .3s;
        height: auto;
        line-height: unset;
    }
</style>

<body>
    <div class="searchBarDiv">
        <input type="text" class="searchBar" id="searchBar" />
    </div>
    <div class="userPanel">
        <div class="dropdown">
            <button id="userNameTag" class="dropbtn">UserName</button>
            <div class="dropdown-content">
                <p id="userNotif" class="userNotif">Account Details</p>
                <p id="myOrders" class="myOrders" onclick="GoToMyOrder()">My Orders</p>
                <button id="toggleDarkMode">Toggle Dark Mode</button>
                <p id="userAccount" class="userAccount" onclick="LogOut()">Logout</p>
                <p id="userListings" class="userListings" onclick="GotoMyListings()">My Listings</p>
            </div>
        </div>
    </div>
    <div class="itemsDiv" id="itemsDiv">
    </div>
    <div class="cartListDiv" id="cartListDiv">
    </div>
    <button id="showButton" class="buyoutButtons" onclick="loadCartListIntoCartListDiv()">
        Show CartList
    </button>
    <button id="clearcartlistbutton" class="buyoutButtons" onclick="ClearCartList()">
        Clear CartList
    </button>
    <button class="buyoutButtons" style="color:black;background-color:yellow" id="sendOrderButton" onclick="GoToPaymentPage()">
        Order
    </button>
</body>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            GetAllItems();

            const toggleDarkModeButton = document.getElementById('toggleDarkMode');
            const prefersDarkMode = JSON.parse(localStorage.getItem('darkModePreference'));

            if (prefersDarkMode) {
                document.body.classList.add('dark-mode');
            }

            toggleDarkModeButton.addEventListener('click', function () {
                document.body.classList.toggle('dark-mode');
                const isDarkMode = document.body.classList.contains('dark-mode');
                localStorage.setItem('darkModePreference', JSON.stringify(isDarkMode));
            });
        });
        const showButton = document.getElementById('showButton');
        const cartListDiv = document.getElementById('cartListDiv');

        showButton.addEventListener('click', function () {
            if (cartListDiv.style.display === 'none') {
                cartListDiv.style.display = 'block'; // Show the div
            } else {
                cartListDiv.style.display = 'none'; // Hide the div
                cartListDiv.innerHTML = ''; // Empty the div
            }
        });

    </script>
}



