<style>
    .userPanel {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #f1f1f1;
        color: #333;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 100%;
        right: 0;
    }

        .dropdown-content p {
            color: #333;
            padding: 10px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .dropdown-content p:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .itemsDiv{
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
    }

    .cartListDiv {
        display: none; /* Start with the div hidden */
        width: 200px; /* Adjust the width as needed */
        background-color: black; /* Set a background color for the sidebar */
        position: fixed; /* Position the sidebar */
        top: 0;
        left: 0; /* Initially hidden off-screen */
        height: 100vh; /* Set the height to fill the viewport */
        transition: left 0.3s; /* Add a smooth transition effect */
        color:wheat;
    }
</style>


<div class="userPanel">
    <div class="dropdown">
        <button id="userNameTag" class="dropbtn">UserName</button>
        <div class="dropdown-content">
            <p id="userNotif" class="userNotif">Account Details</p>
            <p id="userAccount" class="userAccount">Logout</p>
        </div>
    </div>
</div>


<div class="itemsDiv" id="itemsDiv">
    
</div>
<div class="cartListDiv" id="cartListDiv"></div>
<button id="showButton" onclick="loadCartListIntoCartListDiv()">
    Show CartList
</button>
<button onclick="ClearCartList()">
    Clear CartList
</button>
<button onclick="SendOrder()">
    Order
</button>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            GetAllItems();
        });
        const showButton = document.getElementById('showButton');
        const cartListDiv = document.getElementById('cartListDiv');

        showButton.addEventListener('click', function () {
            if (cartListDiv.style.display === 'none') {
                cartListDiv.style.display = 'block'; // Show the div
            } else {
                cartListDiv.style.display = 'none'; // Hide the div
                cartListDiv.innerHTML = ''; // Empty the div
            }
        });

    </script>
}



