<style>
    .userPanel {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #f1f1f1;
        color: #333;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 100%;
        right: 0;
    }

        .dropdown-content p {
            color: #333;
            padding: 10px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .dropdown-content p:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .itemsDiv{
     /*   width:150px;
        text-align: center;
        padding: 20px;
        background-color: #081b29;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        border-radius: 30px 5px;
        border-color: black;
        border-style: solid;
        left: 50px;
        color:white;*/
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
    }
</style>


<div class="userPanel">
    <div class="dropdown">
        <button class="dropbtn">UserName</button>
        <div class="dropdown-content">
            <p id="userNotif" class="userNotif">Account Details</p>
            <p id="userAccount" class="userAccount">Logout</p>
        </div>
    </div>
</div>


<div class="itemsDiv" id="itemsDiv">

</div>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            GetAllItems();
        });
    </script>
}



