<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .userPanel {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #f1f1f1;
        color: #333;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 100%;
        right: 0;
    }

        .dropdown-content p {
            color: #333;
            padding: 10px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .dropdown-content p:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .specificItemDiv {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itemBox {
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 10px;
    }

    .itemPrice {
        font-size: 20px;
        color: brown;
        margin-bottom: 5px;
    }

    .itemPriceTag {
        font-size: 28px;
        font-weight: bold;
        color: #c62828;
        margin-bottom: 10px;
    }

    .addtoCart {
        padding: 12px 24px;
        background-color: lightseagreen;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
    }

        .addToCart:hover {
            background-color: #45a049;
        }

</style>
<div class="specificItemDiv" id="specificItemDiv">
    <button class="addtoCart" id="addtoCart">Add To Cart</button>
</div>




@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            GetTheItem();
        });
    </script>
}